*{
    margin: 0;
    padding: 0;
}

header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(img/tr.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.main-nav{
    float: right;
    list-style: none;
    margin-top: 30px;
}

.main-nav li{
    display: inline-block;
}

.main-nav li a{
    color: aliceblue;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "roboto", sans-serif;
    font-size: 15px;
}

.main-nav li.active a{
    border: 1px solid rgb(238, 243, 239);
    background-color: rgb(218, 222, 213);
    text-decoration-color: black;

}

.main-nav li a:hover{
    border: 1px solid rgb(110, 163, 133);
    background-color: greenyellow;
    text-decoration-color: black;
}

.logo img{
    width: 200px;
    height: auto;
    float: left;
}

body{
    font-family: monospace;
}

.row{
    max-width: 1600px;
    margin: auto;
}

.hero{
    position: absolute;
    width: 1000px;
    margin-top: 0;
    margin-left: 0;
}

h1{
    color: antiquewhite;
    text-transform: uppercase;
    font-size: 70px;
    text-align: center;
    margin-top: 275px;
}

.button{
    margin-top: 30px;
    margin-left: 440px;
}

.btn{
    border: 1px solid white;
    padding: 10px 30px;
    color: wheat;
    text-decoration: none;
    margin-right: 5px;
    font-size: 13px;
    text-transform: uppercase;
}

.btn-one{
background-color: transparent;
font-family: "roboto", sans-serif;
}
.btn-one:hover{
    background-color: aqua;
    transition: all 0.5s ease-in;
}

.btn-two{
    font-family: "roboto", sans-serif;
}

.btn-two:hover{
    background-color: aqua;
    transition: all 0.5s ease-in;
}




